<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>${OTEL_SERVICE_NAME}</serviceName>
            <serviceVersion>${project.version}</serviceVersion>
            <serviceEnvironment>${ENV}</serviceEnvironment>
        </encoder>
    </appender>

    <logger name="io.micronaut" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>